body {
  background-color: rgb(103, 73, 113) !important;
}

.respuesta {
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  margin-top: 5px;
}

.card {
  border-radius: 10px !important;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3) !important;
  height: 98% !important;
}

.card:hover {
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.875) !important;
}

.group {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.btn {
  margin-left: 5px;
}

h1 {
  text-align: center;
}
